{%  extends 'workTest/basehtml.html' %}

{% block title %}
    Choose yourself!
{% endblock %}

{% block content %}
        <form method="post" class="form-group col-md-6">
            {% csrf_token %}
            {# Include the hidden fields #}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}


            {% for field in form.visible_fields %}
                <div class="form-group">

                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}

                    <label for="{{ form.title.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary">Далее</button>
        </form>

{% endblock %}